@font-face {
  font-family: "SFProDisplay";
  src: url("./fonts/SFProDisplay-Bold.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("./fonts/SFProDisplay-Italic.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("./fonts/SFProDisplay-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("./fonts/SFProDisplay-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
